/* page */
.page a{border:1px solid #e0e0e0;background-color:#fff;}
.page a:hover{background-color:#ffe3d7;}
.page .select{background-color:#ff915b;}
/*  
.page .prev{background:url(skinMod/prev.png) no-repeat;} */